*{
  box-sizing: border-box;
  margin: 0;
  font-family: Arial, sans-serif;
}

p{
  text-indent: 30px;
  margin: 20px 0;
}

@media screen and (max-width: 750px) {
  h2{
    text-align: center;
  }
}
@media screen and (max-width: 350px) {
  p{
    padding-inline: 10px;
  }
}